:root {
  --color-tone-1: #1a1a1b;
  --color-tone-2: #454747;
  --color-tone-3: #a9abad;
  --color-tone-4: #d3d6da;
  --color-tone-5: #edeff1;
  --color-tone-6: #f6f7f8;
  --color-tone-7: #fff;
  --green: #6fb05c;
  --green-tone-1: #4a7d3a;
  --green-tone-2: #3a6f2a;
  --yellow: #e9ba3a;
  --yellow-tone-1: #b58f2a;
  --yellow-tone-2: #a77b2a;
  --opacity-50: rgba(255, 255, 255, 0.5);
  --easing: cubic-bezier(0.19, 1, 0.22, 1);
  --easing2: cubic-bezier(0.5, 0, 0, 1);
  --orange: #f5793a;
  --red: #d70000;
  --red-tone-1: #a70000;
  --red-tone-2: #8a0000;
  --blue: #0037af;
  --game-width: 728px;
  --font-size: 20px;
  --board-size: 600px;
  --tile-font-size: 2rem;
  --header-height: 72px;
  --info-height: 90px;
  --vertical-spacing: 0.7rem;
  --title-font: "Nunito", sans-serif;
  --title-font-weight: 700;
  --tile-font: var(--title-font);
  --tile-font-weight: var(--title-font-weight);
}

body {
  background-color: var(--color-tone-5);
}

.centre {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  max-width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.app {
  background-color: var(--color-tone-7);
  -ms-flex-positive: 1;
  height: 100vh;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centre > .app {
  width: var(--game-width);
  max-width: 100%;
  overflow: hidden;
}
